[default]
src = 'src'
out = 'out'
libs = ['lib']
#remappings = ['forge-std/=lib/forge-std/src/', 'openzeppelin-contracts/=lib/openzeppelin-contracts/contracts/', 'ds-test/=lib/ds-test/src/']

# See more config options https://github.com/gakonst/foundry/tree/master/config